.footer {
  text-align: center;
  padding: 2rem 2rem 2rem 2rem; 
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #000;
  box-sizing: border-box;
  max-width: 1000px;
  margin: 2rem auto 2rem auto; 
}

.footer-text {
  font-size: 1rem;
  color: #444;
  margin-bottom: 1.2rem;
}

.footer-email {
  font-size: 1rem;
  color: #aaa;
  text-decoration: none;
  display: block;
  margin-bottom: 1rem;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.footer-icon-link img {
  width: 28px;
  height: 28px;
  opacity: 0.8;
}
